<script src="c:\vue\wrbcherokee\vue.js"></script>



<div id="app">
    <div ></br>
        <button v-on:click='increase(2, $event)'>Click Me</button>
        <p>{{ counter }}</p>
        <p v-on:mousemove='updateCoordinates'>Cooridinates: {{x}} / {{ y}}  
         - <span v-on:mousemove.stop=""> DEAD SPOT</span> - </p>
        <input type='text' v-on:keyup.enter='alertMe'> 
        <hr>
        <ul>
            <li v-for="person in persons"> 
                <div v-for="(value, key, index) in person">{{key}}:{{value}} ({{index}})</div>
            </li>
        </ul> 
        <hr>
        
            <p v-if="show"> You can see me Now </p>
            <p v-else> Do you also see me?</p>
            <button @click="show = !show">Switch</button>
            
            <ul>
                <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
            </ul>
    </div>
    <script>
    new Vue({
            el: '#app',
            data: {
                    counter: 0,
                    x: 0,
                    y: 0,
                    Name: 'Matt',
                    Age: '27',
                    link: 'https://en.wikipedia.org/wiki/Airplane#/media/File:P-51_Mustang_edit1.jpg',
                    show: true,
                    ingredients:['meat','fruit','cookies'],
                    persons: [
                        {name:'Matt', age: 27, color: 'red'},
                        {name:'Anna', age: 'unknown', color: 'blue'}
                    ]
            },
            methods: {
                increase: function(step, event){
                    this.counter  += step;
                },
                mathRandom: function() {
                    return Math.random();
                },
                updateCoordinates: function(event){
                    this.x = event.clientX;
                    this.y = event.clientY;
                },
//                dummy: function(event){
//                    event.stopPropagation();
//                }
                alertMe: function(){
                    alert('Alert!');
                }
            }
    })    
</script>
</div>

 